<!DOCTYPE html>
<html>
<head>
<title>Rental Management</title>
<h1 align= "right" > Hello, {{request.user}} 
<a href="{%url 'logout'%}"> Logout </a></h1>
</head>
<body>
<h1> This is the Home Page </h1>
<a href="{%url 'rent:job_list'%}"> Jobs </a> <br><br>
<a href="{%url 'rent:invoice_list'%}"> Invoices </a> <br><br>
<a href="{%url 'rent:vendor_list'%}">Vendors</a><be><br>
<a href="{%url 'rent:equipment_list'%}"> Equipment </a> <br><br>
<a href="{%url 'rent:rental_list'%}">Rentals</a><be><br>
</body>
</html>
