
{% block title %}Rental Detail{% endblock title %}

{% block content %}
    <h1>{{ rental.Rental_ID }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {{ rental.Buy_or_Rent }} <br>
    {{ rental.Date_Received }} <br>
    {%if rental.Return_Status %}
        Returned <br>
    {%else%}
        Not Returned <br>
    {% endif %}
    {{ rental.Date_Returned }} <br>
    {{ rental.Expected_Duration }} <br>
    {{ rental.job }} <br>
    {{ rental.vendor }} <br>
    {{ rental.equipment_ID }} <br>
    {{ rental.Invoice_number }} <br>
    {{rental.vendor.Salesman}}<br>
    
    <a href="{% url 'rent:rental_list' %}" > Back to Job list </a>
{% endblock content %}


